body{
    background: linear-gradient(0.25turn, #e66465, #9198e5);

}

form {
    background: white;
    border: 20px;
    boder-
    border-radius: 15px;
    font-family: helvetica, sans-serif;

    
}

h1 {
    color: teal;
    font-family: helvetica, sans-serif;
}




