body{
    background: linear-gradient(0.25turn, #e66465, #9198e5);
    
}

form {
    color: teal;
    background: white;
    border: 20px;
    border-radius: 15px;
    font-family: helvetica, sans-serif;
    width: 300px;
    margin: auto;
    text-align: center;
    
}

h1 {
    color: teal;
    font-family: helvetica, sans-serif;
}

input[type = button], input[type=submit] {
    background: pink;
    border: 0px;
    display: inline-block;
    
}



input[type = button]:hover, input[type=submit]:hover {
    background: turquoise;
}