.title{
    color: grey;
    font-size: 5em;
    font-family: "Arial, Helvetica, sans-serif";
    padding: .5em;
}

.discription{
    height: 300px;
    width: 500px;
    padding: 1em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14;
    word-spacing: .25em;
    display: inline-block;
    
}

img{
    padding: .25em;
}

.top-pics{
    align-content: top;
}

.samplecode{
    background:#3E3D38;
    color: white;
}